/* CSS Reset */
*
{
    padding:0;
    margin:0;
    
}
html{
    scroll-behavior: smooth;
}
/* Navigation Bar */
#navbar
{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 70px;
    
}
/* Navigation bar:Logo and Image */
#logo
{
    margin: 10px 29px;
}
#logo img{
    margin: 3px 7px;
    height:88px;

}
/* Navigation bar:List Styling */
#navbar ul{
    display:flex;
    font-family: 'Balsamiq Sans', cursive;
}
#navbar::before{
    content: "";
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    
}
#navbar ul li a {
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

    
}
#navbar ul li a:hover{
    background-color: black;
    color: white;
    border-radius: 12px;
}
/* HOME SECTION */
#home
{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 387px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
        background:url('../bg.jpeg')no-repeat center center/cover;
        position: absolute;
        top: 0px;
            left: 0px;
        height: 55%;
        width: 100%;
        z-index: -1;
        opacity: 0.9;
    
}
#home h1{
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 3.6rem;
}
#home p {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Container */
#services
{
    margin: 16px;
    display: flex;
}

#services .box
{
    border: 2px solid brown;
    padding: 34px;
    margin: 6px 9px;
    border-radius: 28px;
    background-color: #c0babaf2;
}
#services .box img {
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}

/* Client Section */
#client-section
{
    height: 334px;

}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpeg') no-repeat center center/cover;
    width: 100%;
    height: 40%;
    z-index: -1;
    opacity: 0.4;

}
.clientitem
{
    padding:34px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}
#clients img {
    height: 125px;

}
/* Contact Section */
#contact
{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contactus.jpg') no-repeat center center/cover;
}
#contact-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;

}
#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}
#contact-box input,#contact-box textarea{

    width:100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
footer
{
    background-color: black;
    color: white;
    padding:9px 20px;
    height:20%;
}
/* utility Classes */
.h-primary
{
    font-size: 3.6rem;
    font-family: 'Bree Serif', serif;
    padding:12px;
}
.h-secondary {
    font-size: 2.6rem;
    font-family: 'Bree Serif', serif;
    padding: 12px;
}
.btn
{
    padding: 6px 20px;
    border: 4px solid white;
    border-radius: 13px;
    background-color: brown;
    color: bisque;
    margin: 17px;
    font-size: 1.5rem;
    cursor: pointer;
}
.center
{
    text-align: center;
}

